h1 {
    text-align: center;
    font-family: sans-serif;
    background-color: blueviolet;
}

.lemon {
    padding-bottom: 20px;
    padding-top: 80px;
    font-family: sans-serif;
    color: blueviolet;
    
}

.tandoor {
    padding-bottom: 20px;
    font-family: sans-serif;
    color: blue;

}

.tatar {
    font-family: sans-serif;
    
}